*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b2bbbe;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

.spacer {
  flex-grow: 0 !important;
}
